@import "tailwindcss";

@theme {
    --font-sans: 'Programme-Light', sans-serif
}
@font-face {
    font-family: 'space mono';
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

@font-face {
    font-family: "Programme-Light";
    src: local('ProgrammeLight'), url('./Programme-Light.ttf') format('truetype');
}